<div class="container"><div class="row spacing"></div></div>

<div class="bienvenido" onclick="hideNav()">
    <div class="mainsection-txt" id="teste">
        <p class="small-p">           
            Administración Inmobiliaria & Servicios
        </p>
        <button class="btn main-button"><a href="#/nosotros">Saber más</a></button>
    </div>

    <div class="mainsection-img">
        <img class="first-img" src="assets/mainsection-img.png">
    </div>
</div>

<div class="container-fluid txt-2">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 mainsection-txt2">
            <p>EXCELENCIA EN LA ADMINISTRACIÓN DE SU PATRIMONIO</p>
            <button class="bn main-button"><a href="#/servicios">Saber más</a></button>
        </div>
            
        <div class="col-4 mainsection-img2">
            <img class="mainsection-img2-photo" src="assets/neutralimg2.png">
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mainsection-img3">
        </div>
    </div>
</div>

<app-register-form></app-register-form>
