<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mainsection-txt">
            <p>Bienvenido a Hocker</p>
            <button type="button" class="btn btn-sabermas1"><a href="/nosotros">Saber más</a></button>
        </div>
            
        <div class="col-md-8">
            <img class="mainsection-img" src="assets/mainsection-img.png">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 spacing">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-7 mainsection-txt2">
            <p>EXCELENCIA EN ADMINISTRACIÓN DE SU PATRIMONIO</p>
            <button class="btn btn-sabermas2"><a href="/servicios">Saber más</a></button>
        </div>
            
        <div class="col-4 mainsection-img2">
            <img class="mainsection-img2-photo" src="assets/mainsection-neutralimg2.png">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 spacing">

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mainsection-img3">
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 spacing">

        </div>
    </div>
</div>

<app-register-form></app-register-form>
