* {
    overflow: hidden;
}

.container {
    margin-top: 50px;
}

.conserjeria-div {
    margin: 0 auto 50px auto;
}

.h3 {
    color: #004077;
    margin-bottom: 25px;
    text-align: left;
}

.services-image {
    width: 40%;
    align-self: center;
}

.services-text {
    width: 80%;
    background-color: #004077;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 13px;
    display: block;
    margin: 0 auto;
}

.conserjeria-div {
    text-align: justify;
}

@media (max-width: 760px) {

    .image-div {
        margin: 40px auto;
    }

    .conserjeria-div {
        margin: 0 30px;
    }
}