<section class="container">
    <div class="row conserjeria-div">
        <div class="col-md-6">
            <h3 class="h3"> Conserjería </h3>
        
            <p>
                Servicio diseñado primordialmente para satisfacer las necesidades básicas de los miembros que habitan un condominio, apoyando en actividades básicas como:
                Estar al pendiente de la puerta de acceso al condominio, realizar trabajos menores de mantenimiento y cuidado de las áreas comunes, encender y apagar luces, limpiar áreas comunes, recibir correspondencias, notificar cualquier problema o incidente a Höcker, entre otros...
            </p>
        
        </div>
        
        <div class="col-md-6 text-center image-div">
            <img class="services-image" src="assets/conserjeria2.png">
            <p class="services-text">
                Limpieza y Control de accesos en un solo servicio.
            </p>
        </div>
    </div>
</section>