<!--Personal de mantenimiento section starts-->

        <div class="col-md-5 service" id="displayPersonal" style="display: none;">

            <h3 class="serviciosh3">Personal de mantenimiento</h3>
            <p>
                Te ofrecemos una solución para el mantenimiento de tu inmueble, mediante la contratación de un técnico residente con conocimientos de electricidad, carpintería, albañilería, plomería, entre otros.  
            </p>

            <a onclick="location.reload();" class="nav-link">&larr; Todos los servicios</a>

        </div>

        <div class="col-md-6 text-center serviceImage" id="personalImg" style="display: none;">
            <img class="servicios-img" src="assets/personal.jpg">
            <p class="servicios-txt">
                Técnicos especializados en el mantenimiento y reparaciones de sus instalaciones.
            </p>
        </div>
        <!--Personal de mantenimiento section ends-->