<section class="container">
    <div class="row personal-div">
        <div class="col-md-6">
            <h3 class="h3">Personal de mantenimiento</h3>
            <p>
                Te ofrecemos una solución para el mantenimiento de tu inmueble, mediante la contratación de un técnico residente con conocimientos de electricidad, carpintería, albañilería, plomería, entre otros.  
            </p>
        </div>

        <div class="col-md-6 text-center image-div">
            <img class="services-image" src="assets/personal.jpg">
            <p class="services-text">
                Técnicos especializados en el mantenimiento y reparaciones de sus instalaciones.
            </p>
        </div>
    </div>
</section>