<!--Mantenimiento section begins-->

            <div class="col-md-5 service" id="displayMantenimiento" style="display: none;">

                <h3 class="serviciosh3">Mantenimiento general</h3>

                <p style="font-weight: bold;"> 
                        Áreas de trabajo:
                </p><br>

                <ul>
                    <li>&#8226; Pintura</li>
                    <li>&#8226; Plomería</li>
                    <li>&#8226; Electricidad</li>
                    <li>&#8226; Carpintería</li>
                    <li>&#8226; Jardinería</li>
                    <li>&#8226; Tabla roca</li>
                    <li>&#8226; Acabados</li>
                    <li>&#8226; Entre otros.</li>
                </ul>

                <a onclick="location.reload();" class="nav-link">&larr; Todos los servicios</a>

            </div>

            <div class="col-md-6 text-center serviceImage" id="mantenimientoImg" style="display: none;">
                <img class="servicios-img" src="assets/maintenance.jpg">
                <p class="servicios-txt">Estamos claros de la importancia que tiene brindar un mantenimiento integral a su patrimonio. Lo
                    cual aumentará de manera gradual el valor de su propiedad dando seguridad y optimizando el uso
                    diario de las instalaciones.</p> 
            </div>