<!-- Current header-->
<header id="header">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
          <a href="#" class="navbar-brand">
            <img src="./assets/hocker_logo.png" alt="Hocker | Administración Inmobiliaria & Servicios" width="142">
          </a>

          <button class="navbar-toggler" aria-expanded="false" data-toggle="collapse" data-target="#nav" id="menuToggler">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ml-3">
                <a routerLink="/" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Inicio</a>
              </li>
                  
              <li class="nav-item ml-3">
                <a routerLink="/nosotros" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Quiénes somos</a>
              </li>
    
              <li class="nav-item ml-3">
                <a routerLink="/servicios" href="./views/servicios/servicios.component.html"  class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Servicios</a>
              </li>
    
              <li class="nav-item ml-3">
                  <a routerLink="/register" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show">Contacto</a>
              </li>
            </ul>  
        </div>
      </div>
  </nav>
</header> 



<div id="cookiesAlert">
  <span id="closeCookies" class="close" onclick="closeAlert()">&times;</span>
  
    <p>Este sitio web, al igual que la mayoría de los sitios en Internet, usa Cookies para mejorar y
      optimizar la experiencia del usuario. <br> <a class="cookiesAlert" href="http://www.diputados.gob.mx/LeyesBiblio/pdf/LFPDPPP.pdf">Más información</a></p>
  
  <button class="btn main-button" id="okCookies" onclick="closeAlert()">Aceptar</button>
</div>

<router-outlet></router-outlet>
