/*Pallete
Dark blue: #004077 
Orange: #F57727;*/


* {
    overflow: hidden;
}

#cookiesAlert {
  /*styles*/
  background-color: #fff;
  color: #004077;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 120px #004077;

  /*sizes*/
  width: 80%;
  max-width: 500px;
  padding: 30px 15px 15px 15px;

  /*positions*/
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#cookiesAlert button {
    padding: 8px;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background-color: #004077;
    border-radius: 8px;
    border: none;
}
  
#cookiesAlert button:hover {
    background-color:  #fff;
    color: #004077;
    border: 2px solid #004077;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    cursor: pointer;
}

#header {
    background-color:  rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 100;
    width: 100vw;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-brand {
    width: 200px;
}

ul li a {
    color: #004077;
    font-weight: 400;
}

ul li a:hover {
    color: rgba(0, 0, 0, 0.377);
}
    

