/*Pallete
Dark blue: #004077 */


* {
    overflow: hidden;
}

#header {
    background-color: #fff;
    position: fixed;
    z-index: 100;
    width: 100vw;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-brand {
    width: 200px;
}

.navbar {
    position: relative;
    z-index: 100;
}

ul li a {
    color: #004077;
    font-weight: 400;
}

ul li a:hover {
    color: rgba(0, 0, 0, 0.377);
    /*color: #f57727; */
}
    

