<section class="container">
    <div class="row venta-div">
        <div class="col-md-6">
            <h3 class="h3">Venta y renta de propiedades</h3>
            <p>
                <span>Promoción, Renta o Venta: </span> <br>Realizamos la promoción de su propiedad, a través de diferentes medios como: web marketing, redes sociales, mantas o lonas, etc.
                <br><br>
                <span>Búsqueda y Selección: </span> <br>En una entrevista personal, realizamos un esquema general sobre sus pretensiones de compra o renta, y llevamos a cabo la búsqueda requerida a efecto de encontrar la propiedad de sus sueños.
                <br><br>
                <span>Administración: </span> <br> Realizamos todo el proceso de promoción de su propiedad, así como la solicitud y recepción de todos los documentos necesarios para arrendar. Posteriormente se realiza la investigación de los probables inquilinos, para seleccionar al mejor candidato y terminar con la firma del contrato de arrendamiento. Durante la vigencia del contrato se realiza la gestión del pago de las rentas y cualquier procedimiento personal o judicial que para el caso se requiera.                
            </p>
        </div>

        <div class="col-md-6 text-center image-div">

            <img class="services-image" src="assets/sale.jpg">
            <p class="services-text">Höcker es la mejor opción en el mercado para vender, rentar o promocionar su 
                propiedad. Te brindamos la asesoría correcta a efecto de llevar a cabo esta tan seria decisión, 
                acompañándote en todo momento para concretar la con la persona o empresa que más favorezca su oferta.
            </p>

        </div>
    </div>
</section>