<section class="container">
    <div class="row admin-text1">
        <h3 class="h3">Administración de condominios</h3>
                <span class="title title-position">
                    ¿PORQUE CONTRATAR A UN ADMINISTRADOR EXTERNO?
                </span>
        <div class="col-md-6 padding-right">
                <ul class="ul">
                    <li>
                        No tiene intereses personales en el condominio, lo que le permite tomar decisiones neutrales y desempeñarse de forma imparcial en beneficio de todos los propietarios y del condominio.
                    </li>

                    <li>
                        Conoce la Ley de Propiedad en Condominio de Inmuebles para el Distrito Federal, y resulta de verdad útil.
                    </li>
                    
                    <li>
                        Ha desarrollado habilidades para el manejo de conflictos y tiene los conocimientos de organización necesarios para brindar el servicio.
                    </li>

                    <li>
                        A un administrador externo, que cobre por su función se le puede pedir resultados siempre y, si no los da, es posible cambiarlo.
                    </li>
                </ul>
        </div>
            
        <div class="col-md-6 text-center image-div">
            <img class="services-image" src="assets/administration.jpg">
            <p class="services-text"> Höcker ofrece servicios inmobiliarios de excelente calidad con la finalidad de mantener e incrementar la plusvalía del inmueble adquirido, así como otorgar en todo momento la tranquilidad y seguridad a nuestros clientes.</p>
        </div>
    </div>
    
    <div class="row admin-text2">
        <span class="title  text-center">
            ¿QUE SERVICIOS INCLUYE SI CONTRATAS A HÖCKER COMO EMPRESA DE ADMINISTRACIÓN PARA SU CONDOMINIO?         
        </span>

        <div class="col-12">
            <ul class="ul">
                <li>
                    Elaboración de planes de trabajo (corto, mediano y largo plazo) sobre las necesidades específicas de cada condominio
                </li>
    
                <li>
                    Entrega mensual de reportes administrativos (estado de cuenta de ingresos y egresos, lista de deudores y emisión de recibos de pago)
                </li>
    
                <li>
                    Cobro de cuotas de mantenimiento
                </li>
    
                <li>
                    Seguimiento a las disposiciones del reglamento interno del condominio y la ley correspondiente
                </li>
    
                <li>
                    Representación ante instancias administrativas
                </li>
    
                <li>
                    Solicitud de cotizaciones y aprobación de las mismas ante el órgano de la asamblea o junto con el comité de vigilancia
                </li>
    
                <li>
                    Realización de Asambleas Generales de Condóminos
                </li>
    
                <li>
                    Control, pago y supervisión de los servicios proporcionados por terceros (gas, luz, agua, etc.)
                </li>
    
                <li>
                    Supervisión constante a proveedores 
                </li>
    
                <li>
                    Entre otros…
                </li>
    
            </ul><br>
        </div>
    </div>
    
    <div class="row admin-text3">
        <span class="title text-center">                    
            ¿PORQUE CONTRATAR A HÖCKER COMO SU ADMINISTRADOR PROFESIONAL?
        </span>

        <div class="col-12 admin-grid">
            <div class="item item1">
                <img class="circle" src="assets/check.png">
                <h6>EMPRESA LEGALMENTE CONSTITUIDA</h6>   
                <p>
                    Y legalmente registrados y certificados por la PROSOC
                </p>
            </div>

            <div class="item item2">
                <img class="circle" src="assets/check.png">
                <h6>
                    EXPERIENCIA PROFESIONAL 
                </h6>
                <p>
                    Mas de 10 años de experiencia en el ámbito condominal
                </p>
            </div>

            <div class="item item3">
                <img class="circle" src="assets/check.png">
                <h6>
                    BASE 
                </h6>
                <p>
                    Base direccional de profesionistas en las Licenciaturas en Derecho y Administración de empresas
                </p>
            </div>

            <div class="item item4">
                <img class="circle" src="assets/check.png">
                <h6>
                    PLUS 
                </h6>
                <p>
                   En la contratación del servicio de la Administración de tu condominio, Höcker ofrece a todos los titulares de los departamentos la asesoría legal gratuita en las siguientes áreas:
                </p>
                <br>
                <ul>
                    <li>&#8226; Civil  </li>
                    <li>&#8226; Familiar  </li>
                    <li>&#8226; Laboral  </li>
                    <li>&#8226; Mercantil  </li>
                </ul>
            </div>
        </div>
    </div>
</section>