* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.spacing {
    height: 50px;
}

.largespacing {
    height: 100px;
}

.modalError {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background-color: #f57727;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalError p {
    color: #fff ;
    font-size: 20px;
}

/* The Close Button of the Modal*/
.close {
	color: rgb(252, 248, 248);
	float: right;
	font-size: 15px;
	font-weight: lighter;
}

p {
    font-size: 50px;
    color: #004077;
}

.form label {
    color: #004077;
    background-color: #fff;
    padding-left: 5px;
    margin-left: 12px;
}

.form input {
    border: 2px solid #004077;
    width: 90%;
    height: 7vh;
    z-index: 0;
    padding: 3%;
}

.md-form {
    margin-bottom: 0.8rem;
    margin-top: -17px;
}

.form textarea {
    padding: 3%;
    z-index: -1;
    position: relative;
}

#message {
    border: 2px solid #004077;
    width: 90%;
    height: 17vh;
}

.form textarea {
    border: 2px solid #004077;
    width: 90%;
    height: 7vh;
}

.btn-contact {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    background-color:#004077;
    color: #fff;
    border-radius: 8px;
}

.btn-contact:hover {
    background-color: #f57727;
}

.contactenos p {
    font-size: 15px;
    padding: 10px 0 10px 0;
}

.contactenos h1 {
    font-size: 25px;
    color: #004077;
    padding: 10px 0 10px 0;
}

.contactenos h3 {
    font-size: 22px;
    color: #004077;
    padding: 10px 0 10px 0;
}

.container-contact {
    background-color: #0040772f;
    padding: 90px 0 70px 0;
}



/*Extra small devices*/ 
@media (max-width: 480px) {

    .register-logo {
        display: none;
    }
   
    .contactenos {
        margin-left: 50px;
        margin-right: 40px;
    }

    .contactenos p {
        font-size: larger;
    }

    .map {
        margin: 100px auto auto auto;
    }
}

/*Small devices*/ 
@media (min-width: 481px) and (max-width: 600px) {

    .register-logo {
        display: none;
    }
    
    .contactenos {
        margin-left: 60px;
        margin-right: 40px;
    }

    .contactenos p {
        font-size: larger;
    }

    .map {
        margin-top: 100px;
        width: 100vw;
    }
    

}

/*Medium devices*/ 
@media (min-width: 601px) and (max-width: 750px) {

    .register-logo {
        display: none;
    }

    .contactenos {
        margin-left: 70px;
        margin-right: 40px;
    }

    .contactenos p {
        font-size: larger;
    }

    .map {
        margin: 100px auto auto 150px;
    }

}

/* Tablets that have this very specific size*/
@media (min-width: 751px) and (max-width: 900px) {

    .register-logo {
        display: none;
    }

    .contactenos {
        margin-left: 70px;
        margin-right: 40px;
    }

    .contactenos p {
        font-size: larger;
    }

    .map {
        margin: 100px auto auto 150px;
    }
}

/* Large devices*/
@media (min-width: 901px) {
    .map {
        width: 500px;
        height: 400px;
    }

    .contactenos p {
        font-size: larger;
    }
}