<div class="text-center vamosHablar contactSection">
    <p>Vamos a hablar?</p>
</div>

<div class="row">
    <div class="col-1"></div>

    <div class="col-11">
        <img class="register-logo" src="./assets/full_logo.png" alt="Hocker | Administracion Inmobiliaria y Servicios" width="240">
    </div>
</div> 


<div class="formGrid">

<div class="nombre">
    <label class="label">Su nombre</label>
    <input type="text" formControlName="nombre" class="form-control push-up">
</div>

<div class="telefono">
    <label class="label">Teléfono</label>
    <input type="text" formControlName="telefono" class="form-control push-up">
</div>

<div class="mensaje-class">
    <textarea formControlName="mensaje" name="message" class="form-control push-up mensaje" placeholder="Mensaje"></textarea>
</div>

<div class="email">
    <label class="label">E-mail</label>
    <input type="text" formControlName="email" class="form-control push-up">
    <button class="btn-contact" type="submit">Enviar</button>
</div>

</div>


<div class="container-fluid container-contact">
<div class="row">
    <div class="col-1">
    </div>

    <div class="col-md-5 contactenos">
        <h1>CONTÁCTENOS</h1>

        <h3>Höcker Oficina Sur</h3>
        <p>Cerro Tezoyo #50, Col. Campestre Churubusco, Coyoacán CDMX</p>

        <h3>Oficina Centro</h3>
        <p>Dr. Jimenez 58-4 Doctores, Cuauhtémoc CDMX</p>

        <p>Tel. (55) 5016-8173 <br> Cel. (044) 55-1015-6319</p>

        <p>info@hocker.com.mx</p>
    </div>

    <div class="col-md-6 map-align">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.7905212876717!2d-99.15037678509348!3d19.421454886890626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff2862b31465%3A0xe6ed60d4b776a209!2sDr%20Jimenez%2058%2C%20Doctores%2C%20Cuauht%C3%A9moc%2C%2006720%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX%2C%20M%C3%A9xico!5e0!3m2!1spt-BR!2sbr!4v1608576642879!5m2!1spt-BR!2sbr" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
</div>

