* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.contactSection {
    width: 100%;
    height: 90%;
    margin-top: 90px;
}

.vamosHablar {
    font-size: 50px;
    color: #004077;
}

.formGrid {
    margin: 50px auto;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-areas: "name phone"
                        "message email";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: 1fr 100%;
}

.nombre {
    grid-area: name;
    height: 60px;
}

.telefono    {
    grid-area: phone;
    height: 60px;
}

.mensaje-class {
    grid-area: message;
    height: 120px;
}

.email {
    grid-area: email;
    height: 120px;
}

.push-up {
    margin-bottom: 0.8rem;
    margin-top: -17px;
    border: 2px solid #004077;
    padding: 10px;
}

.mensaje {
    height: 100px;
    margin-top: 10px;
    padding: 10px;
}

.btn-contact {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color:#004077;
    color: #fff;
    border-radius: 8px;
}

.label {
    background-color: #fff;
    color: #004077;
    margin-left: 20px;
}

.btn-contact:hover {
    background-color: #f57727;
}

.contactenos p {
    font-size: 15px;
    padding-bottom: 15px;
    font-size: large;
}

.contactenos h1 {
    font-size: 25px;
    padding: 10px 0;
    color: #004077;
}

.contactenos h3 {
    font-size: 22px;
    padding: 10px 0;
    color: #004077;
}

.container-contact {
    background-color: #0040772f;
    padding: 90px 0;
    height: 100%;
}

.map {
    width: 80%;
    height: 80%;
}

.map-align {
    text-align: left;
}

/* The Close Button of the Modal*/
.close {
	color: rgb(252, 248, 248);
	float: right;
	font-size: 15px;
	font-weight: lighter;
}

.modalError {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    background-color: #f57727;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modalError .texto {
    color: #fff ;
    font-size: 15px;
}

/*Tablets and small devices**/
@media (max-width: 760px) {

    .formGrid {
        grid-template-areas: "name"
                            "phone"
                            "message"
                            "email";
        grid-template-columns: 1fr;
        gap: 30px;
        grid-template-rows: 40px 40px 90px 140px;
    }

    .register-logo {
        display: none;
    }
    
    .container-contact {
        position: relative;
    }
    .contactenos {
       text-align: center;
       padding: 20px;
    }

    .contactenos p {
        font-size: larger;
    }

    .map-align {
        text-align: center;
        height: 400px;
    }
}