<div class="container"><div class="row spacing"></div></div>
<div class="text-center vamosHablar contactSection">
    <p>COTIZACIONES E INFORMES</p>
</div>

<form class="formGrid" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="nombre">
        <label class="label">Su nombre</label>
        <input type="text" formControlName="nombre" class="form-control push-up">
    </div>

    <div class="telefono">
        <label class="label">Teléfono</label>
        <input type="text" formControlName="telefono" class="form-control push-up">
    </div>

    <div class="mensaje-class">
        <textarea formControlName="mensaje" name="message" class="form-control push-up mensaje" placeholder="Mensaje"></textarea>
    </div>

    <div class="email">
        <label class="label">E-mail</label>
        <input type="text" formControlName="email" class="form-control push-up">
        <button class="btn btn-blue" type="submit">Enviar</button>
    </div>

</form>

<div class="mensajeEnviado" *ngIf="sentMessage">     
    <p>Mensaje enviado!</p>
</div>


<div class="container-fluid container-contact">
<div class="row">
    <div class="col-1">
    </div>

    <div class="col-md-5 map-align">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.6360531938753!2d-99.14475558509474!3d19.341592886936102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fe2a54b3ffff%3A0x4b9aee57753a401b!2sCalz%20Taxque%C3%B1a%201239%2C%20Campestre%20Churubusco%2C%20Coyoac%C3%A1n%2C%2004200%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX%2C%20M%C3%A9xico!5e0!3m2!1spt-BR!2sbr!4v1611256098382!5m2!1spt-BR!2sbr" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>

    <div class="col-md-6 contactenos">
        
        <h1>CONTÁCTENOS</h1>

        <span class="inline-item">
            <img src="assets/house.png" class="contact-icon">
            <p>Calzada Taxqueña, 1239, Oficina 4 - Campestre Churubusco, Coyoacán - Ciudad de México</p>
        </span>

        <span class="inline-item">
            <img src="assets/phone.png" class="contact-icon">
            <p>55 5016 8173</p>
        </span>

        <span class="inline-item">
            <img src="assets/mail.png" class="contact-icon">
            <p>info@hocker.com.mx</p>
        </span>

        <a href="https://www.instagram.com/lucibelecastro/?hl=knimg"><img src="assets/instagram.png" class="social-icon">@hockeradmon</a>
        <br>
        <a href="https://pt-br.facebook.com/pg/administracionhocker/photos/"><img src="assets/facebook.png" class="social-icon">@administracionhocker</a>
    </div>
</div>
</div>

