<section class="container">
    <div class="row limpieza-div">
        <div class="col-md-6">

            <h3 class="h3">Limpieza residencial, comercial e industrial</h3>
        
            <p>
                <span>Sector Residencial (áreas comunes):</span><br> Condominios, edificios residenciales. <br><br>
                <span>Sector Empresarial:</span><br> Oficinas, empresas, corporativos, edificios, agencias, despachos, 
                spas, gimnasios, sucursales, centros comerciales, escuelas, universidades, laboratorios, clínicas, 
                hospitales, bancos. <br><br>
                <span>Sector Industrial:</span><br> Fábricas y plantas industriales. <br><br>
            </p>
                
        </div>
        
        <div class="col-md-6 text-center image-div">
            <img class="services-image" src="assets/cleaning.png">
        
            <p class="services-text">
                Contamos con personal especializado y equipos necesarios para la realización de actividades de menor y mayor complejidad, garantizando a nuestros clientes el cuidado de los acabados y un servicio de limpieza integral.
            </p>
        </div>
    </div>
</section>
