* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

hr {
    height: 25vh;
    width: 10px;
    background-color: #004077;
    outline: none;
    margin: 30px;
}

.nosotros-mision-img {
    display: none;
}

.nosotros-vision-img {
    display: none;
}

.nosotros-valores-img {
    display: none;
}

.nosotros-img1 {
    display: grid;
    place-content: center;
    background: url("src\assets\nosotros-cover.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    margin-top: 100px;
}

.emptyBox {
    width: 28%;
    height: 50vh;
    border: 10px solid #004077;
    outline: none;
}

.nosotros-valores-txt h1 {
    line-height: 50px;
}

.nosotros-valores-txt h4 {
    padding-top: 30px;
}

.nosotros-tenemos {
    margin-top: 100px;
    margin-bottom: 100px;
}

.nosotros-mision-txt {
    z-index: 1;
    align-self: center;
    color: #fff;
    background-color: #004077;
    border-radius: 25px;
    font-size: 20px;
    padding: 30px;
    line-height: 40px;
    text-align: center;
}

.nosotros-vision-txt {
    z-index: 1;
    color: #fff;
    background-color: #004077;
    align-self: center;
    border-radius: 25px;
    font-size: 20px;
    padding: 50px 20px;
    line-height: 40px;
    text-align: center;    
}

.nosotros-valores-txt {
    z-index: 1;
    color: #fff;
    background-color: #004077;
    border-radius: 25px;
    font-size: 20px;
    padding: 50px 20px 50px 20px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 150px;
}

.smdevice-img {
    display: none;
}

.nosotros-txt {
    margin: 50px;
    background-color:#fff;
    border-radius: 25px;
    height: 100%;
    padding: 20px;
}

/*Extra small devices*/ 
@media (max-width: 480px) {

    .nosotros-txt {
        padding: 0 20px;
    }
    
    .nosotros-logo {
        display: none;
    }
    
    .nosotros-txt1 h1 {
        color: #004077;
        line-height: 50px;
    }
    
    .nosotros-txt1 p {
        z-index: 5;
        font-size: 15px;
        color: #004077;
        line-height: 40px;
    }

    .nosotros-txt2 {
        font-size: 28px;
        padding: 10px;
    }

    .emptyBox {
        width: 10%;
        height: 70vh;
        border: 5px solid #004077;
    }

    .nosotros-vision-img {
       display: none;
    }

    .nosotros-mision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
    }
    
    .nosotros-vision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
        padding: 30px 20px;
    }

    .nosotros-valores-txt {
        margin: auto;
        border-radius: 0;
    }

    .nosotros-valores-img {
        display: none;

    }
    
    hr {
        display: none;
    }

}

/*Small devices*/ 
@media (min-width: 481px) and (max-width: 600px) {

    .nosotros-txt {
        padding: 0 20px;
    }
    
    .nosotros-logo {
        display: none;
    }
    
    .nosotros-txt1 h1 {
        color: #004077;
        line-height: 100px;
    }
    
    .nosotros-txt1 p {
        z-index: 5;
        font-size: 20px;
        color: #004077;
        line-height: 50px;
    }

    .nosotros-txt2 {
        font-size: 35px;
        padding: 10px;
    }

    .emptyBox {
        width: 10%;
        height: 80vh;
        border: 5px solid #004077;
    }

    .nosotros-valores-img {
        display: none;

    }

    .nosotros-mision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
    }
    
    .nosotros-vision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
        padding: 30px 20px;
    }

    .nosotros-valores-txt {
        margin: auto;
        border-radius: 0;
    }


    hr {
        display: none;
    }
    
}

/*Medium devices*/ 
@media (min-width: 601px) and (max-width: 761px) {

    .nosotros-txt {
        padding: 0 20px;
    }
    
    .nosotros-logo {
        display: none;
    }
    
    .nosotros-txt1 h1 {
        color: #004077;
        line-height: 100px;
    }
    
    .nosotros-txt1 p {
        z-index: 5;
        font-size: 20px;
        color: #004077;
        line-height: 50px;
    }

    .nosotros-txt2 {
        font-size: 35px;
        padding: 10px;
    }

    .emptyBox {
        width: 40%;
        height: 70vh;
        border: 6px solid #004077;
    }

    .nosotros-mision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
    }
    
    .nosotros-vision-txt {
        margin: auto;
        border-radius: 0;
        margin-bottom: 50px;
        padding: 30px 20px;
    }

    .nosotros-valores-txt {
        margin: auto;
        border-radius: 0;
    }
}

/* Tablets that have this very specific size*/
@media (min-width: 761px) and (max-width: 900px) {

    .nosotros-txt {
        padding: 0 20px;
    }
    
    .nosotros-logo {
        width: 80%;
        margin-top: 150px;
    }
    
    .nosotros-txt1 h1 {
        color: #004077;
        line-height: 90px;
    }
    
    .nosotros-txt1 p {
        z-index: 5;
        font-size: 18px;
        color: #004077;
        line-height: 40px;
    }

    .nosotros-txt2 {
        font-size: 35px;
        padding: 10px;
    }

    .emptyBox {
        width: 10%;
        height: 60vh;
        border: 5px solid #004077;
    }

    .nosotros-mision-txt {
        transform: translateX(27%);
    }

    .nosotros-mision-img {
        display: block;
        z-index: 0;
        width: 50vw;
    }
    
    .nosotros-vision-txt {
        transform: translateX(-17%);
    }
    
    .nosotros-vision-img {
        display: block;
        z-index: 0;
        width: 50vw;
        align-self: center;
        margin-left: 120px;
    }

    .nosotros-valores-txt {
        transform: translateX(20%);
    }

    .nosotros-valores-img {
        display: block;
        z-index: 0;
        width: 50vw;
        align-self: center;
        margin: 0 150px 0 0;
        padding-right: 100px;
        transform: translateY(70%);
    }

}

/* Large devices*/
@media (min-width: 901px) {
    
    .nosotros-logo {
        width: 20vw;
        margin-top: 100px;
    }

    .nosotros-txt1 {
        margin-top: 100px;
    }
    
    .nosotros-txt1 h1 {
        line-height: 80px;
        color: #004077;
    }
    
    .nosotros-txt1 p {
        z-index: 5;
        font-size: 15px;
        font-weight: bolder;
        color: #004077;
        line-height: 30px;
    }

    .nosotros-txt2 {
        font-size: 30px;
        padding: 10px;
    }

    .emptyBox {
        width: 25%;
        height: 40vh;
    }

    .nosotros-mision-txt {
        transform: translateX(27%);
    }

    .nosotros-mision-img {
        display: block;
        z-index: 0;
        width: 50vw;
    }
    
    .nosotros-vision-txt {
        transform: translate(-37%, 10%);
    }
    
    .nosotros-vision-img {
        display: block;
        z-index: 0;
        width: 50vw;
        align-self: center;
        margin-left: 120px;
    }

    .nosotros-valores-txt {
        transform: translateX(20%);
    }

    .nosotros-valores-img {
        display: block;
        z-index: 0;
        width: 50vw;
        align-self: center;
        margin: 0 150px 0 0;
        padding-right: 100px;
        transform: translateY(70%);
    }
}