<div class="container"><div class="row spacing"></div></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 nosotros-img1 fit-all">

            <div class="row nosotros-txt">
                <div class="col-12">
                    <h1 class="h1">Nuestra historia</h1>
                    <p class="p2">
                        Höcker se inició en el año de 2009, cuando su fundador Rubén Corona, empezó a hacer trabajos de mantenimiento general a casas, departamentos, empresas y edificios. 
        
                        Teniendo la oportunidad de lidiar de cerca con los problemas que enfrentan las personas que habitan en conjuntos condominales, Rubén Corona vislumbró la oportunidad de poder trabajar también en la administración general de condominios. 
                    </p> 
                    <p class="p2">
                        Es en 2014 cuando junto con su socia Lúcia Casto, toman la decisión de tener como servicio principal de Höcker la Administración de Condominios, y todos los demás servicios que un conjunto habitacional requiere para su óptimo funcionamiento.
        
                        La base direccional de Höcker está capacitada para brindar con excelencia los servicios que prestan. Rubén Corona es licenciado en Derecho por la UNAM y Lúcia Castro es licenciada en Administración de Empresas por la Faculdades Promove de Minas Gerais, Brasil.  
                    </p>
                    <p class="p2">
                        Höcker es una palabra en alemán, que significa elevación, efecto de elevar o elevarse. Y es en el punto más alto donde nosotros queremos llegar como empresa. Valorando nuestros colaboradores y prestando servicios de calidad a nuestros clientes.
                    </p>
                </div>
                   
            </div>
        </div>
        <!--
        <div class="col-12 nosotros-img1">
            
            <div class="row nosotros-txt">

                <div class="col-md-6 text-center">
                    <img class="nosotros-logo" src="./assets/new_logo.png">
                </div>

                <div class="col-md-6 text-center nosotros-txt1">
                    <h1>Quiénes somos</h1>
                    <p>HÖCKER es una empresa 100% mexicana, con más de 10 años 
                        de experiencia en la administración y mantenimiento de inmuebles 
                        en diversas zonas del área metropolitana e interior del país.
                    </p>
                </div>

            </div>
        </div>-->
    </div>
</div>


<div class="container-fluid">
    <div class="row nosotros-tenemos">
        <div class="col-1">
        </div>

        <div class="col-1">
            <div class="emptyBox"></div>
        </div>

        <div class="col-9 nosotros-txt2">
            <p>
                Tenemos como objetivo principal la atención inmediata y 
                especializada para resolver cualquier tipo de necesidad, con personal 
                altamente capacitado y enfocado en realizar trabajos de calidad para 
                nuestros clientes.
            </p>
        </div>

        <div class="col-1">
        </div>
    </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>

        <div class="col-10 history">
            <h1 class="h1">Nuestra historia</h1>
            <p class="p1">
                Höcker se inició en el año de 2009, cuando su fundador Rubén Corona, empezó a hacer trabajos de mantenimiento general a casas, departamentos, empresas y edificios. 

                Teniendo la oportunidad de lidiar de cerca con los problemas que enfrentan las personas que habitan en conjuntos condominales, Rubén Corona vislumbro la oportunidad de poder trabajar también en la administración general de condominios. 
            </p> 
            <p class="p1">
                Es en 2014 cuando junto con su socia Lúcia Casto, toman la decisión de tener como servicio principal de Höcker la Administración de Condominios, y todos los demás servicios que un conjunto habitacional requiere para su óptimo funcionamiento.

                La base direccional de Höcker está capacitada para brindar con excelencia los servicios que prestan. Rubén Corona es licenciado en Derecho por la UNAM y Lúcia Castro es licenciada en Administración de Empresas por la Faculdades Promove de Minas Gerais, Brasil.  
            </p>
            <p class="p1 hocker">
                Höcker es una palabra en alemán, que significa elevación, efecto de elevar o elevarse. Y es en el punto más alto donde nosotros queremos llegar como empresa. Valorando nuestros colaboradores y prestando servicios de calidad a nuestros clientes.
            </p>
        </div>

        <div class="col-1"></div>
    </div>
</div>
-->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-5 nosotros-mision-txt mision-vision-valores">
            <h1>MISIÓN</h1>
            <p>Ofrecer una gama de servicios especializados en administración 
                inmobiliaria, con el objeto de garantizar la satisfacción y 
                requerimiento que nuestros clientes demandan.
            </p>
        </div>

        
        <div class="col-md-7">
            <img class="nosotros-mision-img" src="assets/mision.png">
        </div>
            
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-5">
        </div>

        <div class="col-2">
            <hr>
        </div>

        <div class="col-5">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <img class="nosotros-vision-img" src="assets/vision.png">
        </div>

        <div class="col-md-5 nosotros-vision-txt mision-vision-valores">
            <h1>VISION</h1>
            <p>Consolidarnos como una empresa líder
                en la administración y mantenimiento de inmuebles en el sur de la Ciudad de
                México por la calidad y seriedad en los servicios prestados.                 
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
        </div>

        <div class="col-1">
            <hr>
        </div>

        <div class="col-4">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-5 nosotros-valores-txt mision-vision-valores">
            <h1>VALORES</h1>

            <p>
                Honestidad, valor preponderante para crear resultados.            
            </p>
            
            <p>
                Valor y respecto a las personas, son ellas las que hacen la diferencia para tornar todo posible.
            </p>

            <p>
                Satisfacción del cliente, él es la razón de la existencia de nuestro negocio.
            </p>
        </div>

        <div class="col-md-7">
            <img class="nosotros-valores-img" src="assets/valores.png">
        </div>

    </div>
</div>

<app-register-form></app-register-form>
