<div class="container-fluid">
    <div class="row">
        <div class="col-12 nosotros-img1">

            <div class="row nosotros-txt">
                <div class="col-1"></div>

                <div class="col-md-5 text-center">
                    <img class="nosotros-logo" src="./assets/full_logo.png">
                </div>

                <div class="col-md-5 text-center nosotros-txt1">
                    <h1>NOSOTROS</h1>
                    <p>HÖCKER es una empresa 100 % mexicana, con más de 10 años 
                        de experiencia en la administración y mantenimiento de inmuebles 
                        en diversas zonas del área metropolitana e interior del país.
                    </p>
                </div>

                <div class="col-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 spacing">
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row nosotros">
        <div class="col-1">
        </div>

        <div class="col-1">
            <div class="emptyBox"></div>
        </div>

        <div class="col-9 nosotros-txt2">
            <p>
                Tenemos como objetivo principal la atención inmediata y 
                especializada para resolver cualquier tipo de necesidad, con personal 
                altamente capacitado y enfocado en realizar trabajos de calidad para 
                nuestros clientes.
            </p>
        </div>

        <div class="col-1">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 spacing2">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-4 nosotros-mision-txt">
            <h1>MISION</h1>
            <p>Ofrecer una gama de servicios especializados en administración 
                y mantenimiento de inmuebles, con el objeto de garantizar la 
                satisfacción y requerimiento que nuestros clientes demandan.
            </p>
        </div>

        
        <div class="col-md-8">
            <img class="nosotros-mision-img" src="assets/mision.png">
        </div>
            
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
        </div>

        <div class="col-1">
            <hr>
        </div>

        <div class="col-4">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <img class="nosotros-vision-img" src="assets/vision.png">
        </div>

        <div class="col-md-5 nosotros-vision-txt">
            <h1>VISION</h1>
            <p>Consolidarnos como una empresa líder en la administración 
                y mantenimiento de inmuebles, estando siempre a la vanguardia 
                en la implementación de personal calificado y calidad en el 
                servicio, para ser la empresa 
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7">
        </div>

        <div class="col-1">
            <hr>
        </div>

        <div class="col-4">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-5 nosotros-valores-txt">
            <h1>VALORES</h1>

            <h4>SATISFACCIÓN DEL CLIENTE</h4>
            <p>Es la razón de la existencia de nuestro negocio.
            </p>

            <h4>VALOR Y RESPECTO A LAS PERSONAS</h4>
            <p>Las personas son las que hacen la diferencia para tornar todo posible.
            </p>

            <h4>HONESTIDAD</h4>
            <p>Valor preponderante para crear resultados.
            </p>
        </div>

        <div class="col-md-7">
            <img class="nosotros-valores-img" src="assets/valores.png">
        </div>

    </div>
</div>

