* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.service a {
    margin: 20px 0;
    font-size: 20px;
}

.spacing {
    height: 100px;
}

.serviciosh1 {
    color: #004077;
    padding-left: 40px;
}

.serviciosh3 {
    color: #004077;
    padding-bottom: 20px;
}

/*Attention! All spans are formatted*/
.service span {
    font-weight: bold;
    margin-top: 15px;
}

.service {
    padding: 30px;
}

serviceImage {
    padding-right: 30px;
}

.servicios-img {
    width: 60%;
    margin:auto;
}

.servicios-txt {
    width: 70%;
    background-color: #004077;
    color: #fff;
    font-size: 20px;
    padding: 35px 25px 0 25px;
    margin: auto;
    display: table;
}

.services-outerList {
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
    color: #004077;
}

.servicios {
    color: #004077;
    border: 3px solid #004077;
    width: 90%;
    height: 100%;
    padding: 4%;
    font-size: 15px;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.servicios li {
    padding: 10px 0 10px 0;
}

.servicios-p {
    color: rgb(0, 153, 255);
    cursor: pointer;
}

.servicios-p:hover {
    color: #004077;
    text-decoration: underline;
}


/*Extra small devices*/ 
@media (max-width: 480px) {

    .services-outerList {
        list-style-type: none;
        padding: 20px 0 20px 40px;
        color: #004077;
    }

    .servicios-txt {
        transform: translateY(-3%);
    }

}

/*Small devices*/ 
@media (min-width: 481px) and (max-width: 600px) {
    .services-outerList {
        list-style-type: none;
        padding: 20px 0 20px 40px;
        color: #004077;
    }
    
    .servicios-txt {
        transform: translateY(-3%);
        height: 314px;
        padding: 30px;
    }

}

/*Medium devices*/ 
@media (min-width: 601px) and (max-width: 750px) {

    .services-outerList {
        list-style-type: none;
        padding: 20px 0 20px 40px;
        color: #004077;
    }

    .servicios-img {
        width: 60%;
        margin: auto;
        padding-top: 50px;
    }
    
    .servicios-txt {
        transform: translateY(-10%);
        padding: 30px;
    }

}

/* Tablets that have this very specific size*/
@media (min-width: 751px) and (max-width: 900px) {

    .services-outerList {
        padding: 20px 0 20px 50px;
        color: #004077;
    }

    .serviciosh1 {
        padding-left: 50px;
    }

    .servicios-img {
        width: 60%;
        margin: auto;
        padding-top: 50px;
    }
    
    .servicios-txt {
        transform: translateY(-10%);
        padding: 30px;
    }

}

/* Large devices*/
@media (min-width: 901px) {
    /*Default configs*/
    .servicios-txt {
        transform: translateY(-2%);
        padding: 30px;
    }

    .serviciosh1 {
        padding-left: 0;
    }

}