<div class="container-fluid">
    <div class="row">
        <div class="col-12 spacing">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-1">
        </div>

        <div class="col-md-5">
            <h1>Servicios</h1>

            <ul>
                <li class="services-outerList"><a href="#administracion" data-toggle="collapse">ADMINISTRACION DE CONDOMINIOS Y EDIFICIOS</a></li>
                    <div id="administracion" class="collapse servicios"> 
                        <p>
                            Höcker se ha encargado de reunir a un grupo de profesionales, con el fin de consolidar un concepto innovador, que con el paso del tiempo nos ha permitido ofrecer servicios inmobiliarios de excelente calidad y servicio. Esto con la finalidad primordial de mantener e incrementar la plusvalía del inmueble adquirido, así como otorgar en todo momento la tranquilidad y seguridad que nuestros clientes demandan.
                            <br><br>
                            <span style="font-weight: bold;">Nuestra área de Administración de Condominios lleva a cabo los servicios de:
                            </span>
                        </p>

                        <ul>
                            <li>Elaboración de planes de trabajo sobre las necesidades especificas de cada condominio
                            </li>

                            <li>Emisión de reportes mensuales
                            </li>

                            <li>Seguimiento a las disposiciones del reglamento interno del condominio y la ley correspondiente
                            </li>

                            <li>Representación legal (gestión ante las distintas autoridades e instancias)
                            </li>

                            <li>Cobro de cuotas de mantenimiento
                            </li>

                            <li>Asambleas generales de Condóminos
                            </li>

                            <li>Control, pago y supervisión de los servicios proporcionados por terceros (gas, luz, agua, etc.)
                            </li>

                            <li>Entre otros.
                            </li>
                        </ul>

                        <span style="font-weight: bold;">Con el objeto de brindarle un servicio de Administración Integral, te ofrecemos Out-Sourcing de personal:
                        </span>

                        <ul>
                            <li>Limpieza</li>
                            <li>Seguridad Privada</li>
                            <li>Portería</li>
                            <li>Mantenimiento General</li>
                        </ul>
                    </div>

                <li class="services-outerList"><a href="#mantenimiento" data-toggle="collapse">MANTENIMIENTO GENERAL</a></li>
                    <div id="mantenimiento" class="collapse servicios"> 
                        <p>
                            En Höcker estamos claros de la importancia que tiene en la actualidad proveer de un mantenimiento integral constante a nuestro patrimonio, a nivel residencial, comercial e industrial, por las siguientes razones: 
                        </p>

                        <ul>
                            <li>Aumenta de manera gradual el valor inmobiliario de su propiedad;
                            </li>

                            <li>Da seguridad y optimiza el uso diario de las instalaciones y servicios;
                            </li>

                            <li>Propicia un ambiente armónico.
                            </li>
                        </ul>

                        <p style="font-weight: bold;"> 
                                Áreas de trabajo:
                        </p>

                        <ul>
                            <li>Pintura</li>
                            <li>Plomería</li>
                            <li>Electricidad</li>
                            <li>Carpintería</li>
                            <li>Jardinería</li>
                            <li>Tabla roca</li>
                            <li>Acabados</li>
                            <li>Entre otros.</li>
                        </ul>
                    </div>
                <li class="services-outerList"><a href="#limpieza" data-toggle="collapse">LIMPIEZA RESIDENCIAL, COMERCIAL E INDUSTRIAL</a></li>
                    <div id="limpieza" class="collapse servicios"> 
                        <p>
                            Contamos con personal especializado y equipos necesarios para la realización de actividades de menor y mayor complejidad, garantizando a nuestros clientes el cuidado de los acabados y un servicio de limpieza integral.
                            <span style="font-weight: bold;">Sector Residencial (áreas comunes):</span> Condominios, edificios residenciales.
                            <span style="font-weight: bold;">Sector Empresarial:</span> oficinas, empresas, corporativos, edificios, agencias, despachos, spas, gimnasios, sucursales, centros comerciales, escuelas, universidades, laboratorios, clínicas, hospitales, bancos.
                            <span style="font-weight: bold;">Sector Industrial:</span> Fábricas y Plantas industriales.
                            <span style="font-weight: bold;">Ventajas al contratar Höcker:</span>
                        </p>

                        <ul>
                            <li>Comunicación y relación estrecha con personal de limpieza
                            </li>

                            <li>Supervisión al personal
                            </li>

                            <li>Elaboración de plan de trabajo para el mantenimiento y cuidado de las instalaciones
                            </li>

                            <li>Evitar contingencias laborales ya que Höcker se hace responsable de las obligaciones patronales
                            </li>

                            <li>Suministro de equipo y materiales de alta calidad además de alargar la vida de sus instalaciones y muebles
                            </li>

                            <li>Entre otras.</li>
                        </ul>

                        <p>De una forma integral y con el objeto de brindar la atención especializada de acuerdo a las necesidades que cada cliente demanda, Höcker cuenta con un equipo calificado para llevar a cabo cualquier tipo de Mantenimiento Correctivo y Preventivo para garantizar el óptimo funcionamiento de todas sus instalaciones.
                        </p>
                    </div>
                <li class="services-outerList"><a href="#seguridad" data-toggle="collapse">SEGURIDAD PRIVADA Y CONSERJERIA</a></li>
                    <div id="seguridad" class="collapse servicios"> 
                        <p>
                            Según las necesidades y requerimientos especiales de cada uno de nuestros clientes es que Höcker pone dos opciones de servicio a nivel Residencial y Empresarial.
                            <span style="font-weight: bold;">Seguridad Privada</span>
                            Ofrecemos un servicio apegado a las normas de seguridad pública con personal capacitado operativamente y con el registro correspondiente otorgado por la Secretaria de Seguridad Pública.
                            <br><br>
                            El personal se capacita en el ambito de vigilancia, disciplina, lealtad, responsabilidad, autoformación y defensa personal. Todo esto para salvaguardar y proteger los intereses y propiedades de nuestros clientes, con el objeto de prevenir siniestros, ilícitos y cualquier desastre que pudiera llegarse a presentar dentro de las instalaciones de servicio.
                            <br><br>
                            Los guardias de seguridad cuentan con uniforme y equipo de intercomunicación para reportar cualquier anomalía a la base de la empresa, siendo supervisados de manera constante.
                            <br><br>
                            <span style="font-weight: bold;">Conserjería</span>
                            Servicio diseñado primordialmente para satisfacer las necesidades básicas de los miembros que habitan un condominio, apoyando en actividades básicas como:
                        </p>

                        <ul>
                            <li>Estar al pendiente de la puerta de acceso al condominio
                            </li>

                            <li>Realizar trabajos menores de mantenimiento y cuidado de las áreas comunes
                            </li>

                            <li>Encender y apagar luces
                            </li>

                            <li>Limpiar áreas comunes
                            </li>

                            <li>Recibir correspondencias
                            </li>

                            <li>Notificar cualquier problema o incidente a Höcker
                            </li>

                            <li>Entre otros.</li>
                        </ul>
                    </div>
                <li class="services-outerList"><a href="#soluciones" data-toggle="collapse">SOLUCIONES JURIDICAS</a></li>
                    <div id="soluciones" class="collapse servicios"> 
                        <p>
                            En Höcker también puedes contar con la prestación de servicios profesionales en el área jurídica. Ofrecemos alternativas de acuerdo a las necesidades de cada cliente, otorgando pólizas de representación ilimitada en cualquier área de derecho o cobro de honorarios por evento.
                            Áreas:
                        </p>

                        <ul>
                            <li>Civil</li>
                            <li>Mercantil</li>
                            <li>Familiar</li>
                            <li>Laboral</li>
                            <li>Notarial</li>
                            <li>Penal</li>
                        </ul>

                        <p>Estamos comprometidos con brindarle la atención y asesoría más conveniente para dirimir cualquier conflicto, o conciliar cualquier tipo de procedimiento legal ante las instancias o tribunales correspondientes. Nuestra experiencia y honestidad son factores primordiales de nuestra representación y base del éxito.
                        </p>
                    </div>
                <li class="services-outerList"><a href="#venta" data-toggle="collapse">VENTA Y RENTA DE PROPIEDADES</a></li>
                    <div id="venta" class="collapse servicios"> 
                        <p>
                            Höcker es la mejor opción en el mercado para vender, rentar o promocionar su propiedad. Te brindamos la asesoría correcta a efecto de llevar a cabo esta tan seria decisión, acompañándote en todo momento para concretar la con la persona o empresa que mas favorezca su oferta.
                            <br><br>
                            <span style="font-weight: bold;">Promoción, Renta o Venta: </span>Realizamos la promoción de su propiedad, a través de diferentes medios como: web marketing, redes sociales, mantas o lonas, etc.
                            <br><br>
                            <span style="font-weight: bold;">Búsqueda y Selección: </span>En una entrevista personal, realizamos un esquema general sobre sus pretensiones de compra o renta, y realizamos la búsqueda requerida a efecto de encontrar la propiedad de sus sueños.
                            <br><br>
                            <span style="font-weight: bold;">Administración: </span>Realizamos todo el proceso de promoción de su propiedad, así como la solicitud y recepción de todos los documentos necesarios para arrendar. Posteriormente se realiza la investigación de los probables inquilinos, para seleccionar al mejor candidato y terminar con la firma del contrato de arrendamiento. Durante la vigencia del contrato se realiza la gestión del pago de las rentas y cualquier procedimiento personal o judicial que para el caso se requiera.
                            <br><br>
                            Estamos comprometidos con brindarle la atención y asesoría más conveniente para dirimir cualquier conflicto, o conciliar cualquier tipo de procedimiento legal ante las instancias o tribunales correspondientes. Nuestra experiencia y honestidad son factores primordiales de nuestra representación y base del éxito.
                        </p>
                    </div>
            </ul>
        </div>

        <div class="col-md-6 text-center">
            <img class="servicios-img" src="assets/building.jpg">
            <p class="servicios-txt">Höcker es la mejor opción en el mercado para vender, 
                rentar o promocionar su propiedad. Te brindamos la asesoría correcta a efecto 
                de llevar a cabo esta tan seria decisión, acompañándote en todo momento para 
                concretar la con la persona o empresa que mas favorezca su oferta.</p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<app-register-form></app-register-form>