<section class="container">
    <router-outlet></router-outlet>
    <div class="row services-div">
        <h3 class="h3">Servicios</h3>

        <div class="col-md-12 outer-div">
            <ul class="services-grid">

                <li class="services-list item1">
                    <a routerLink="administracion">
                        <div class="card card1">
                            <img src="assets/administracion-icon.png" class="services-card">
                            <div class="card-container">
                                <p>ADMINISTRACIÓN DE CONDOMINIOS</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item2">
                    <a routerLink="limpieza">
                        <div class="card">
                            <img src="assets/limpieza-icon.png" class="services-card">
                            <div class="card-container">
                                <p>LIMPIEZA RESIDENCIAL, COMERCIAL E INDUSTRIAL</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item3">
                    <a routerLink="conserjeria">
                        <div class="card">
                            <img src="assets/conserjeria-icon.png" class="services-card">
                            <div class="card-container">
                                <p>CONSERJERÍA</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item4">
                    <a routerLink="vigilancia">
                        <div class="card">
                            <img src="assets/vigilancia-icon.png" class="services-card">
                            <div class="card-container">
                                <p>VIGILANCIA</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item5">
                    <a routerLink="personal">
                        <div class="card">
                            <img src="assets/personal-icon.png" class="services-card">
                            <div class="card-container">
                                <p>PERSONAL DE MANTENIMIENTO</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item6">
                    <a routerLink="mantenimiento">
                        <div class="card">
                            <img src="assets/mantenimiento-icon.png" class="services-card">
                            <div class="card-container">
                                <p>PERSONAL DE MANTENIMIENTO</p>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="services-list item7">
                    <a routerLink="venta">
                        <div class="card">
                            <img src="assets/venta-icon.png" class="services-card">
                            <div class="card-container">
                                <p>VENTA Y RENTA DE PROPIEDADES</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--
    <div class="row">
                <!--Main image begins--
                <div class="col-md-6 text-center image-div">
                    <img class="services-image" src="assets/building.jpg">
                    <p class="services-text">En Höcker nos hemos encargado de reunir a un grupo de profesionales con 
                        el fin de consolidar un concepto innovador en la administración de inmuebles, teniendo como 
                        factor preponderante el incrementar de manera gradual la plusvalía de su patrimonio.
                    </p>
                </div>
                <!--Main image ends--
    </div>-->
</section>
<app-register-form></app-register-form>